body {
  min-width: 1100px;
}
#mark_color > a{
    text-indent: -999em;
    min-width: 50px;
}
.color-white, .color-white:hover, .color-white:active{
    color: #fff;
    box-shadow: none;
}
.btn .ml5{
    margin-left: 5px;
}
#main_menu.navbar{
    min-height: initial;
}
.container .form-control-feedback{
    top:0;
}
.myhide{
    display: none;
}
#colors_sketch{
    height: 300px;
    background-color: azure;
}
.container{
    width: 1100px!important;
    max-width: none !important;
}
#colors_canvas .panel-body{
    padding: 0;
}
.block-center{
    margin: 0 auto;
    display: block;
    width: 383px;
}